@charset "utf-8";

/* 애니메이션 */
@keyframes bounce{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(8px);
    }
}
@keyframes bounce2{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(5px);
    }
}
@keyframes sandwich{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(20px);
    }
}
@keyframes scroll{
    from{
        height: 0;
    }
    to{
        height: 100%;
    }
}

/* 기본값 */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Pretendard', sans-serif;
}
ul, ol{
    list-style: none;
}
img, button, input{
    vertical-align: top;
    border: 0;
}
a{
    text-decoration: none;
}
em{
    font-style: normal;
}
mark{
    background-color: transparent;
}

/* 인덱스문서의 오른쪽에 있는 페이져 영역 */
#fp-nav{
    display: none;
}

/* 320px - 헤더 */
#wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    min-height: 800px;
    margin: 0 auto;
}
#haeder{
    position: fixed;
}
.logo .sandwich01, .logo .sandwich02{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 25px;
}
.logo .sandwich02{
    display: none;
}
.logo .sandwich01 img, .logo .sandwich02 img{
    width: 100%;
    height: auto;
}
.logo .cacao{
    position: absolute;
    top: 50px;
    right: 20px;
    display: flex;
}
.logo .cacao .c_text{
    font-size: 14px;
    line-height: 25px;
}
.logo .cacao .c_ico{
    width: 25px;
    height: 25px;
}
.logo .cacao .c_ico img{
    width: 100%;
    height: auto;
    margin-left: 5px;
}

/* 320px - 본문01 */
.title{
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
}
.title .t_tema{
    margin-bottom: 6px;
    font-family: 'NanumSquareRound';
    font-size: 16px;
}
.title .t_title{
    position: relative;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 47px;
    line-height: 60px;
    color: #ff3b06;
}
.title .t_title::after, .title .t_title::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff3b06;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.title .t_title::after{
    right: 13px;
}
.title .t_title::before{
    right: 30px;
    animation-delay: 0.7s;
}
.title .t_text{
    margin-bottom: 100px;
    font-size: 14px;
    color: #000000;
}
.scroll{
    display: flex;
    position: absolute;
    left: 20%;
    bottom: 20PX;
}
.scroll .s_bar{
    width: 2px;
    height: 70px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.scroll .s_ani{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: scroll;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
.scroll .s_text{
    padding-top: 20px;
    font-size: 14px;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.3);
    animation-name: bounce2;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

/* 320px - 본문02 */
.sect02{
    position: relative;
    word-break: keep-all;
}
.sect02 .cate{
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 23px;
    font-weight: 700;
}
.s02_title{
    max-width: 380px;
    margin: 0 auto;
    padding: 0 60px;
    text-align: center;
    word-break: keep-all;
    color: #ff3b06;
}
.s02_title .s02_t_tag{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
}
.s02_title .s02_t_title{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}
.s02_t_box{
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.s02_t_box .s02_t_img{
    display: none;
}

/* 320px - 본문03 */
.sect03{
    position: relative;
    word-break: keep-all;
}
.sect03 .cate{
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 23px;
    font-weight: 700;
}
.sect03_box{
    margin: 0 auto;
    padding: 20px 60px;
}
.sect03_photo{
    display: none;
}
.sect03_text .t_cate{
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #ff3b06;
}
.sect03_text .t_box{
    position: relative;
    display: flex;
}
.sect03_text .t_box .t_title{
    margin-right: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
}
.sect03_text .t_box .t_text{
    font-size: 12px;
    line-height: 18px;
    color: #505050;
}
.sect03_text .t_box .letter{
    letter-spacing: 0.7px;
}
.h_box{
    display: flex;
}
.profile, .contect, .history{
    margin-bottom: 20px;
}
.skill .s_box{
    display: flex;
    align-items: end;
}
.s_ico1, .s_ico2{
    width: 30px;
}
.s_ico3, .s_ico4, .s_ico5{
    width: 27px;
}
.skill div img{
    width: 100%;
    height: auto;
}

/* 320px - 본문04 */
.sect04{
    position: relative;
    word-break: keep-all;
}
.sect04 .cate{
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 23px;
    font-weight: 700;
}
.sect04_box{
    margin: 0 auto;
    padding: 0 60px;
}
.sect04_box li{
    margin-bottom: 50px;
    text-align: center;
}
.sect04_box li:last-child{
    margin-bottom: 0;
}
.s04img{
    display: none;
}
.s04Title{
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
    line-height: 1em;
    font-weight: 500;
}
.s04Title span{
    font-size: 14px;
    font-weight: 400;
}
.s04Btn .btn a{
    display: block;
    width: 100px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    text-align: center;
}
.s04Btn .btn a:hover{
    background-color: #ff3b06;
    border-color: #ff3b06;
    color: #fff;
}

/* 360px 마지막 */



@media screen and (min-width:768px){
    /* 인덱스문서의 오른쪽에 있는 페이져 영역 */
    #fp-nav{
        display: block;
        position: fixed;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        margin-top: 0 !important;
    }
    #fp-nav li{
        padding: 8px 0;
        position: relative;
    }
    #fp-nav li a{
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000;
        opacity: 0.3;
        color: #333;
    }
    #fp-nav li .active{
        opacity: 1;
    }
    #fp-nav li a:before{
        display: block;
        position: absolute;
        top: 3px;
        right: 20px;
        width: 100px;
        text-align: right;
        opacity: 0;
    }
    #fp-nav li .active:before, #fp-nav li:hover a:before{
        opacity: 1;
    }

    /* 768px - 헤더 */
    .logo .sandwich01, .logo .sandwich02{
        left: 50px;
        width: 45px;
    }
    .logo .cacao{
        right: 50px;
    }
    .logo .cacao .c_text{
        font-size: 20px;
        line-height: 45px;
    }
    .logo .cacao .c_ico{
        width: 45px;
        height: 45px;
        margin-left: 8px;
    }

    /* 768px - 본문01 */
    .title .t_tema{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .title .t_title{
        width: 450px;
        margin-bottom: 40px;
        font-size: 80px;
        line-height: 90px;
    }
    .title .t_title::after, .title .t_title::before{
        top: -26px;
        width: 13px;
        height: 13px;
    }
    .title .t_title::after{
        right: 6px;
    }
    .title .t_title::before{
        right: 40px;
    }
    .title .t_text{
        margin-bottom: 250px;
        font-size: 17px;
    }
    .scroll .s_bar{
        width: 4px;
        height: 100px;
        margin-right: 50px;
    }
    .scroll .s_text{
        padding-top: 50px;
        font-size: 17px;
        line-height: 50px;
    }

    /* 768px - 본문02 */
    .sect02 .cate{
        left: 115px;
        font-size: 40px;
    }
    .s02_title{
        padding: 0 115px;
        max-width: 700px;
    }
    .s02_title .s02_t_tag{
        font-size: 16px;
        line-height: 50px
        ;
    }
    .s02_title .s02_t_title{
        margin-bottom: 70px;
        font-size: 35px;
    }
    .s02_title .s02_t_title br{
        display: none;
    }
    .s02_t_box{
        position: relative;
        display: flex;
        text-align: left;
        font-size: 16px;
        line-height: 25px;
        color: #333;
    }
    .s02_t_box .s02_t_text{
        width: 60%;
        padding-top: 10px;
        text-align: left;
    }
    .s02_t_box .s02_t_img{
        display: block;
    }    
    .s02_t_box .s02_t_img img{
        position: absolute;
        right: 0;
        width: 130px;
        height: auto;
        transform-origin: center bottom 0;
        animation-name: sandwich;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    .s02_t_box .s02_t_img .img01{
        top: 0;
    }
    .s02_t_box .s02_t_img .img02{
        top: 20px;
        right: 25px;
        width: 90px;
        animation-delay: 0.1s;
    }
    .s02_t_box .s02_t_img .img03{
        top: 25px;
        animation-delay: 0.2s;
    }
    .s02_t_box .s02_t_img .img04{
        top: 60px;
        right: 13px;
        width: 120px;
        animation-delay: 0.3s;
    }
    .s02_t_box .s02_t_img .img05{
        top: 65px;
        animation-delay: 0.2s;

    }
    .s02_t_box .s02_t_img .img06{
        top: 80px;
        animation-delay: 0.3s;
    }
    .s02_t_box .s02_t_img .img07{
        top: 80px;
        animation-delay: 0.2s;
    }
    .s02_t_box .s02_t_img .img08{
        top: 140px;
        animation-delay: 0.1s;
    }
    .s02_t_box .s02_t_img .img09{
        top: 190px;
    }

    /* 768px - 본문03 */
    .sect03 .cate{
        left: 115px;
        font-size: 40px;
    }
    .sect03_box{
        display: flex;
        padding: 0 115px;
    }
    .sect03_photo{
        display: block;
        width: 30%;
        margin-top: 13px;
        margin-right: 50px;
    }
    .sect03_photo img{
        width: 100%;
        height: auto;
    }
    .sect03_text{
        width: 70%;
    }
    .s_ico1, .s_ico2{
        width: 33px;
    }
    .s_ico3, .s_ico4, .s_ico5{
        width: 28px;
    }

    /* 768px - 본문04 */
    .sect04{
        max-width: 900px;
    }
    .sect04 .cate{
        left: 115px;
        font-size: 40px;
    }
    .sect04_box{
        padding: 0 105px;
        padding-top: 80px;
    }
    .sect04_box ul{
        display: flex;
        flex-wrap: wrap;
    }
    .sect04_box li{
        width: calc(50% - 140px);
        margin: 0 70px;
        box-sizing: border-box;
        text-align: center;
    }
    .sect04_box li:nth-child(-n+2){
        margin-bottom: 20px;
    }
    .sect04_box li:nth-child(2n){
        margin-right: 0;
    }
    .s04img{
        display: block;
        margin-bottom: 20px;
    }
    .s04img img{
        width: 100%;
        height: auto;
    }
    .s04Title{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .s04Title span{
        font-size: 14px;
    }
    .s04Btn .btnA a{
        width: 150px;
        height: 50px;
        font-size: 14px;
        line-height: 50px;
    }  
} /* 768px 마지막 */



@media screen and (min-width:1000px){
    /* 1000px - 본문03 */
    .sect03_box{
        margin: 0;
        max-width: 850px;
    }
    .sect03_text{
        position: relative;
    }
    .contect{
        position: absolute;
        top: 0;
        right: 0px;
    }

    /* 1000px - 본문04 */
    .sect04{
        max-width: 1200px;
    }
    .sect04_box{
        padding-top: 95px;
    }
    .sect04_box li{
        width: calc(33.33% - 120px);
        margin: 0 60px;
    }
    .sect04_box li:nth-child(-n+3){
        margin-bottom: 20px;
    }
    .sect04_box li:nth-child(2n){
        margin-right: 20px;
    }
    .sect04_box li:nth-child(3n){
        margin-right: 0;
    }
    .s04img{
        margin-bottom: 30px;
    }
}



@media screen and (min-width:1440px){
    /* 1440px - 헤더 */
    .logo .sandwich01, .logo .sandwich02{
        left: 80px;
    }
    .logo .cacao{
        right: 80px;
    }

    /* 1440px - 본문01 */
    #wrap{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .title{
        padding-top: 250px;
    }    
    .title .t_tema{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .title .t_title{
        width: 620px;
        margin-bottom: 50px;
        font-size: 110px;
        line-height: 120px;
    }
    .title .t_title::after, .title .t_title::before{
        top: -47px;
        width: 19px;
        height: 19px;
    }
    .title .t_title::after{
        right: 8px;
    }
    .title .t_title::before{
        right: 57px;
    }
    .title .t_text{
        margin-bottom: 500px;
        font-size: 22px;
    }
    .scroll .s_bar{
        width: 6px;
        height: 180px;
        margin-right: 80px;
    }
    .scroll .s_text{
        padding-top: 90px;
        font-size: 22px;
        line-height: 90px;
    }

    /* 1440px - 본문02 */
    .sect02 .cate{
        left: 145px;
    }
    .s02_title{
        max-width: 1000px;
    }
    .s02_title .s02_t_tag{
        font-size: 20px;
        line-height: 55px
        ;
    }
    .s02_title .s02_t_title{
        margin-bottom: 100px;
        font-size: 45px;
    }
    .s02_t_box{
        font-size: 14px;
        line-height: 20px;
    }
    .s02_t_box .s02_t_text{
        width: 55%;
        padding-top: 45px;
        text-align: left;
    }
    .s02_t_box{
        font-size: 20px;
        line-height: 35px;
    }
    .s02_t_box .s02_t_img img{
        width: 300px;
    }
    .s02_t_box .s02_t_img .img01{
        top: 0;
    }
    .s02_t_box .s02_t_img .img02{
        top: 60px;
        right: 50px;
        width: 200px;
    }
    .s02_t_box .s02_t_img .img03{
        top: 65px;
    }
    .s02_t_box .s02_t_img .img04{
        top: 140px;
        right: 35px;
        width: 230px;
    }
    .s02_t_box .s02_t_img .img05{
        top: 145px;
    }
    .s02_t_box .s02_t_img .img06{
        top: 185px;
    }
    .s02_t_box .s02_t_img .img07{
        top: 165px;
    }
    .s02_t_box .s02_t_img .img08{
        top: 295px;
    }
    .s02_t_box .s02_t_img .img09{
        top: 410px;
    }

    /* 1440px - 본문03 */
    .sect03 .cate{
        left: 145px;
    }
    .sect03_box{
        padding: 0 145px;
    }

    .sect03_text .t_cate{
        font-size: 22px;
    }
    .sect03_text .t_box .t_title{
        margin-right: 25px;
        font-size: 20px;
        line-height: 30px;
    }
    .sect03_text .t_box .t_text{
        font-size: 18px;
        line-height: 30px;
    }
    .s_ico1, .s_ico2{
        width: 55px;
    }
    .s_ico3, .s_ico4, .s_ico5{
        width: 47px;
    }

    /* 1440px - 본문04 */
    .sect04 .cate{
        left: 145px;
    }

} /* 1440px 마지막 */