@charset "utf-8";

body{
    line-height: 20px;
}

/* 320px - TOP 버튼 */
.btn_top{
    display: none;
    position: fixed;
    bottom: 14px;
    right: 14px;
    z-index: 800;
}
.btn_top a{
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background-color: #000;
}

/* 320px - 헤더 */
#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
}
.h_in{
    position: relative;
    padding: 15px 14px;
    z-index: 500;
}
.logo a{
    display: block;
    width: 122px;
    height: 30px;
    text-indent: -99999px;
    background-image: url(../images/logo.png);
}
.menu{
    position: absolute;
    right: 20px;
    bottom: 15px;
}
.lang{
    padding-right: 30px;
}
.lang ul{
    display: flex;
}
.lang li{
    margin-right: 8px;
}
.lang li a{
    display: block;
    width: 40px;
    height: 23px;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    background-color: #b5b5b5;
}
.gnb_btn{
    width: 25px;
    height: 23px;
    position: absolute;
    right: 14px;
    bottom: 15px;
    background-image: url(../images/icon_ham.png);
    z-index: 1;
    cursor: pointer;
}
.gnb_close{
    display: none;
    width: 25px;
    height: 23px;
    position: absolute;
    right: 14px;
    bottom: 15px;
    background-image: url(../images/icon_close.png);
    z-index: 1;
    cursor: pointer;
}
.gnb{
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 200px;
    text-align: center;
}
.gnb>ul{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}
.gnb>ul>li{
    padding: 10px 20px;
}
.gnb>ul>li>a{
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #080065;
}
.gnb .sub>ul>li>a{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #545454;
}
.gnb .sub>ul>li:hover>a{
    text-decoration: underline;
    font-weight: 500;
    color: #080065;
}
.gnbBg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 155px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* 320px - 푸터 */
#footer{
    position: relative;
    padding: 40px 14px 80px;
}
.logo_bottom a{
    display: block;
    width: 123px;
    height: 30px;
    margin-bottom: 33px;
    text-indent: -99999px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.f_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.default a{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #000
}
.list{
    display: none;
}
.f_personal a{
    display: block;
    width: 130px;
    text-align: right;
    font-size: 14px;
    line-height: 30px;
    color: #545454;
}
.f_info{
    font-size: 12px;
    color: #545454;
}
.f_i_call{
    margin-bottom: 10px;
}
.f_i_notice{
    display: none;
}
.f_sns{
    display: flex;
    position: absolute;
    right: 14px;
    bottom: 190px;
}
.f_s_insta a, .f_s_youtube a{
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-size: cover;
}
.f_s_insta a{
    background-image: url(../images/ico_insta.jpg);
    margin-right: 10px;
}
.f_s_youtube a{
    background-image: url(../images/ico_youtube.jpg);
}
/* 360px 마지막 */



@media screen and (min-width:768px){
    /* 768px - TOP 버튼 */
    .btn_top{
        bottom: 30px;
        right: 30px;
    }
    .btn_top a{
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
    }
    
    /* 768px - 상단배너 */
    .h_in{
        padding: 15px 30px;
    }
    .lang li{
        margin-right: 16px;
    }
    .menu{
        right: 30px;
    }
    .gnb_btn{
        right: 30px;
    }
    .gnb_close{
        right: 30px;
    }
    .gnb>ul>li{
        padding: 10px 50px;
    }

    /* 768px - 푸터 */
    #footer{
        padding: 80px 30px 100px;
    }
    .logo_bottom a{
        position: absolute;
        bottom: 270px;
        width: 159px;
        height: 40px;
        margin-bottom: 0;
    }
    .f_top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 133px;
    }
    .f_m_all{
        display: flex;
        flex-wrap: wrap;
    }
    .f_m_all>li{
        margin-right: 50px;
        margin-bottom: 30px;
    }
    .default a{
        margin-bottom: 10px;
        color: #080065
    }
    .list{
        display: block;
    }
    .list a{
        display: block;
        font-size: 12px;
        line-height: 28px;
        color: #000;
    }
    .f_personal a{
        text-align: left;
    }
    .f_p_bold a{
        display: block;
        font-weight: 700;
        color: #080065;
    }
    .f_i_flex{
        display: flex;
        margin-bottom: 18px;
        color: #2B2B2B;
    }
    .f_i_flex p{
        margin-right: 20px;
    }
    .f_i_call{
        margin-bottom: 0px;
    }
    .f_i_c{
        margin-bottom: 18px;
        color: #848484;
    }
    .f_i_notice{
        display: block;
        color: #848484;
    }
    .f_sns{
        left: 30px;
        bottom: 30px;
    }
    .f_s_insta a, .f_s_youtube a{
        width: 40px;
        height: 40px;
    }
} /* 768px 마지막 */



@media screen and (min-width:1440px){
    /* 1440px - TOP 버튼 */
    .btn_top{
        bottom: 30px;
        right: 10px;
    }

    /* 1440px - 상단배너 */
    .h_in{
        width: 1420px;
        margin: 0 auto;
        padding: 15px 0;
    }
    .menu{
        right: 0;
    }
    .gnb_btn{
        right: 0;
    }
    .gnb_close{
        right: 0;
    }
    .gnb>ul>li{
        padding: 10px 120px;
    }


    /* 1440px - 푸터 */
    #footer{
        width: 1420px;
        margin: 0 auto;
        padding: 80px 0;
    }
    .logo_bottom a{
        bottom: 190px;
    }
    .f_sns{
        right: 0;
        left: 0;
        bottom: 30px;
    }
} /* 1440px 마지막 */