@charset "utf-8";

/* 320px - 본문1(비디오) */
.video_mp4{
    position: relative;
}
.video_mp4::after{
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background-color: #fff;
}
.video_mp4 video{
    display: block;
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}
.video_text{
    position: absolute;
    top: 20%;
    left: 15px;
    right: 15px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

/* 320px - 본문2(기술) */
.main2_tec{
    padding: 88px 0 50px;
}
.text_title{
    padding: 0 14px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 1.4;
    color: #626262;
}
.text_title span{
    color: #080065;
    font-weight: 700;
}
.text_ment{
    padding: 0 14px 30px 14px;
    font-size: 14px;
    line-height: 30px;
    color: #656565;
}
.tec_bnt{
    padding: 0 14px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #656565;
}
.tec_bnt .active{
    color: #080065;
    text-decoration: underline;
}
.tec_bnt ul{
    display: flex;
}
.tec_bnt li{
    margin-right: 20px;
    cursor: pointer;
}
.slide{
    display: none;
}
.slide.active{
    display: block;
}
.t_l_photo{
    margin-bottom: 23px;
}
.t_l_photo img{
    width: 100%;
    height: auto;
}
.t_l_title{
    padding: 0 14px;
    font-size: 14px;
    color: #2B2B2B;
}
.t_l_name{
    padding: 0 14px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1em;
    color: #000;
}
.t_l_ment{
    padding: 0 14px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #656565;
}
.t_l_tag{
    display: flex;
    padding: 0 14px;
}
.t_l_tag p{
    padding: 7px 17px;
    margin-right: 11px;
    border-radius: 50px;
    text-align: center;
    font-size: 13px;
    background-color: #F5F5F5;
}
.t_l_tag p a{
    display: block;
    color: #656565;
}

/* 320px - 본문3(RD) */
.main3_rd{
    padding: 60px 0;
}
.rd_list ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 14px;
}
.rd_list li{
    width: 50%;
    padding-top: 70px;
    padding-bottom: 34px;
    background-repeat: no-repeat;
    background-position: top 0 center;
}
.r_l_1{
    background-image: url(../images/ico_rd_01.png);
}
.r_l_2{
    background-image: url(../images/ico_rd_02.png);
}
.r_l_3{
    background-image: url(../images/ico_rd_03.png);
}
.r_l_4{
    background-image: url(../images/ico_rd_04.png);
}
.r_l_text{
    text-align: center;
    font-size: 14px;
    color: #545454;
}

/* 320px - 본문4(숫자) */
.number_top{
    padding: 65px 14px 35px;
    background-color: #080065;
}
.number_text{
    width: 250px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    letter-spacing: -0.5px;
}
.number_text br{
    display: none;
}
.number_list ul{
    display: flex;
    flex-wrap: wrap;
}
.number_list li{
    width: 50%;
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.number_list .n_l_number{
    margin-bottom: 10px;
}
.number_list li span{
    font-size: 50px;
    font-weight: 700;
    color: #f7d760;
}
.n_l_text{
    width: 120px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 25px;
    opacity: 0.8;
}
.number_bottom{
    padding: 65px 14px;
    background-image: url(../images/photo_02.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.number_bottom p{
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* 320px - 본문5(브랜드) */
.main5_brand{
    padding: 100px 14px;
    overflow: hidden;
}
.name_bold{
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}
.brand_text{
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 28px;
    color: #545454;
}
.brand_text span{
    font-weight: 500;
    color: #000;
}
.main5_brand ul{
    display: flex;
    width: 170%;
    margin-bottom: 32px;
}
.main5_brand li{
    margin-right: 5px;
}
.main5_brand li a{
    display: block;
    padding: 0 20px;
    border: 1px solid #080065;
    font-size: 22px;
    font-weight: 700;
    line-height: 44px;
    color: #080065;
}
.bnt_more{
    width: 118px;
    margin: 0 auto;
}
.bnt_more a{
    display: block;
    margin: 0 auto;
    font-size: 12px;
    line-height: 30px;
    color: #080065;
}
.bnt_more span{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    color: #fff;
    border-radius: 50%;
    background-image: url(../images/ico_arrow_right_w.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-color: #080065;
}

/* 320px - 본문6(뉴스) */
.main6_news{
    position: relative;
    padding: 0 14px;
    margin-bottom: 100px;
    overflow: hidden;
}
.main6_news ul{
    display: flex;
    width: 260%;
    margin-bottom: 40px;
}
.main6_news li{
    width: 80%;
    margin-right: 14px;
}
.news_photo{
    margin-bottom: 18px;
}
.news_photo img{
    width: 100%;
    height: auto;
}
.news_title{
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}
.news_date{
    font-size: 12px;
    color: #848484;
}

/* 320px - 본문7(파트너) */
.main7_patner{
    padding: 70px 0;
    background-image: url(../images/photo_03.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.patner_text{
    margin-bottom: 46px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
.patner_btn{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}
.p_b_box{
    width: 120px;
    height: 28px;
    border: 1px solid rgba(299, 299, 299, 0.5);
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    color: #fff;
}
/* 360px 마지막 */



@media screen and (min-width:768px){
    /* 768px - 본문1(비디오) */
    .video_mp4 video{
        height: 70vh;
    }
    .video_text{
        left: 30px;
        font-size: 40px;
        line-height: 1.2;
    }
    
    /* 768px - 본문2(기술) */
    .main2_tec{
        padding: 120px 30px 150px 30px;
    }
    .text_title{
        padding: 0;
        margin-bottom: 40px;
        font-size: 36px;
    }
    .text_ment{
        width: 540px;
        padding: 0;
        margin-bottom: 40px;
        font-size: 20px;
    }
    .tec_bnt{
        padding: 0;
        font-size: 20px;
    }
    .t_l_box{
        position: relative;
    }
    .t_l_photo{
        width: 550px;
    }
    .t_l_text{
        position: absolute;
        top: 70px;
        left: 550px;
    }

    /* 768px - 본문3(RD) */
    .main3_rd{
        padding: 0 30px 130px;
    }
    .text_title{
        padding: 0;
    }
    .rd_list ul{
        margin: 0 0;
    }
    .rd_list li{
        width: 25%;
        padding-top: 90px;
        background-size: 76px auto;
    }
    .r_l_text{
        font-size: 16px;
    }

    /* 768px - 본문4(숫자) */
    .number_top{
        padding: 100px 30px 100px;
        background-color: #080065;
    }
    .number_text{
        width: 100%;
        margin-bottom: 70px;
        font-size: 30px;
        line-height: 43px;
    }
    .number_text br{
        display: block;
    }
    .number_list li{
        width: 25%;
        font-size: 18px;
    }
    .number_list .n_l_number{
        margin-bottom: 20px;
    }
    .number_list li span{
        font-size: 64px;
    }
    .n_l_text{
        font-size: 18px;
    }
    .number_bottom{
        padding: 150px 30px;
    }
    .number_bottom p{
        font-size: 25px;
        line-height: 33px;
        text-align: right;
    }

    /* 768px - 본문5(브랜드) */
    .main5_brand{
        padding: 120px 30px;
    }
    .name_bold{
        margin-bottom: 30px;
        font-size: 42px;
    }
    .brand_text{
        width: 488px;
        margin-bottom: 45px;
        font-size: 18px;
    }
    .main5_brand ul{
        margin-bottom: 50px;
    }
    .bnt_more{
        width: 170px;
    }
    .bnt_more a{
        font-size: 16px;
        line-height: 50px;
    }
    .bnt_more span{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    /* 768px - 본문6(뉴스) */
    .main6_news{
        padding: 0 30px;
    }
    .main6_news ul{
        width: 180%;
        margin-bottom: 90px;
    }
    .main6_news li{
        margin-right: 15px;
    }
    .news_date{
        font-size: 15px;
    }

    /* 768px - 본문7(파트너) */
    .main7_patner{
        padding: 120px 0;
    }
    .patner_text{
        font-size: 32px;
        line-height: 43px;
    }
    .patner_btn{
        width: 420px;
    }
    .p_b_box{
        width: 196px;
        height: 60px;
        font-size: 16px;
        line-height: 60px;
        color: #fff;
    }

} /* 768px 마지막 */



@media screen and (min-width:1440px){
        /* 1440px - 본문1(비디오) */
        .video_mp4{
            overflow: hidden;
        }
        .video_mp4 video{
            height: 75vh;
        }
        .video_text{
            left: 50%;
            transform: translate(-712px, 0%);
            width: 1240px;
            font-size: 48px;
            line-height: 1.4;
        }

        /* 1440px - 본문2(기술) */
        .main2_tec{
            position: relative;
            width: 1420px;
            margin: 0 auto;
            padding: 140px 0;
        }
        .tec_text{
            margin-bottom: 30px;
        }
        .text_title{
            margin-bottom: 25px;
        }

        /* 1440px - 본문3(RD) */
        .main3_rd{
            margin-bottom: 140px;
            padding: 80px 0;
            background-color: #fbfbfb;
        }
        .rd_in{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1420px;
            margin: 0 auto;
        }
        .rd_text{
            width: 690px;
        }
        .rd_list{
            width: 730px;
        }

        /* 1440px - 본문4(숫자) */
        .number_top{
            width: 1420px;
            padding: 0;
            margin: 0 auto 80px;
            background-color: #fff;
        }
        .number_text{
            margin-bottom: 108px;
            font-size: 33px;
            color: #2B2B2B;
        }
        .number_list ul{
            justify-content: space-between;
        }
        .number_list li{
            font-size: 22px;
            color: #2B2B2B;
        }
        .number_list li span{
            font-size: 80px;
            font-weight: 700;
        }
        .n_l_text{
            font-size: 18px;
        }
        .number_bottom{
            padding: 120px 0;
        }
        .number_bottom p{
            width: 1420px;
            margin: 0 auto;
        }

        /* 1440px - 본문5(브랜드) */
        .main5_brand{
            position: relative;
            width: 1420px;
            margin: 200px auto;
            padding: 0;
        }
        .main5_brand ul{
            font-size: 70px;
            margin: 0;
        }
        .name_bold{
            font-size: 60px;
        }
        .brand_text{
            width: 360px;
            margin-bottom: 170px;
        }
        .bnt_more{
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
        }
        .bnt_more a{
            font-size: 18px;
        }

        /* 1440px - 본문6(뉴스) */
        .main6_news{
            width: 1420px;
            margin: 200px auto;
            padding: 0;
        }
        .main6_news ul{
            width: 120%;
        }
        .news_date{
            font-size: 16px;
        }

        /* 1440px - 본문7(파트너) */
        .patner_in{
            width: 1420px;
            margin: 0 auto;
        }
        .patner_text{
            margin-bottom: 46px;
            text-align: left;
            font-size: 50px;
            line-height: 68px;
        }
        .patner_btn{
            display: flex;
            justify-content: space-between;
            width: 270px;
            margin: 0;
        }
        .p_b_box{
            width: 120px;
            height: 28px;
            border: 1px solid rgba(299, 299, 299, 0.5);
            text-align: center;
            font-size: 12px;
            line-height: 28px;
            color: #fff;
        }
} /* 1440px 마지막 */